:root{
--beach--  :  #23b2a7; 
--deeper-- :  #105a52;
--deep--   :  #1f877d;
--fire--   :  #e05e20;
--bg--     :  #d8d6d4;

}
#body{
	margin: 0;
	background-color: var(--bg--);
    min-width: 600px;
    position: absolute;
    z-index: 1;

}
/*        HEADER          ***/
#header{
	background-color: var(--deep--);
	height:  80px;
	width:   100vw;
	border-bottom: 2px solid black;
	z-index: 888;
	overflow: hidden;
	position: fixed;
}
#header-logo{
	background-image: url("logo.png");
	background-size:  100% 100%;
	float: left;
	height: 80px;
	width: 15vw;

}
/* ------------Copied------------ */
li {
  display: inline-block;
  padding-bottom: 7px;
  margin-top:18px ;
  margin-left: 16px;
  float: right;
}
li:first-child {
  margin-right: 30px;
  margin-left: 80px;
  color:red;
}

li:after {
  content: '';
  display: block;
  margin-top: 9px;
  height: 3px;
  width: 0px;
  transition: width .8s ease;
}
li:hover:after {
  width: 100%;
  background: black;
}
a{   color: black;
	box-shadow: 0 0 0 black;
	transition:boxshadow .7s ease;
	text-decoration: none;
}
li a:hover {
	color: black;
	text-decoration: none;
	boxshadow:0px 0px 5px black;

}
div {
	overflow: hidden;
}
/*Maain - Finished Header*/
#main-home{
	background-image: url("bg-study.jpg");
	background-size: 100vw calc(100vh - 82px);
	width: 100vw;
	height: calc(100vh - 82px);
	color:white;
}
#ourTeam{
	font-size: 100px;
    margin-top: calc(50vh - 200px);
    text-align: center;
    background-color: rgba(25, 25, 25, .7);
}
p#ourTeam span{
	font-size: 20px;
}

@keyframes upDown{
	0%  {top: 0px}
	50% {top: 20px}
	100%{top: 0px}
}
#upDownContainer {
	text-align: center;
	position: relative;
	font-size: 30px;
	color:black;
	animation: upDown .8s infinite;
}
#AboutUs{
	width: 100vw;
	height: calc(100vh - 80px);
	background-color: var(--fire--);
	border-bottom:4px solid black ;
    border-top:4px solid black ;
    text-align: center;
    z-index: 2;
 }
/***/
.divider{
	width:50vw;
  float: left;
	height:calc(100vh - 240px);
	margin-top: 10px;
	z-index: 9;
	overflow: hidden;
}
#servPart1{
background-image: url('logo.jpg');
width:30vw;
margin-left: 10vw;
height:40vh;
margin-top: calc(50vh - 120px - 25vh);
overflow: hidden;
border-radius: 10px;
background-size: 30vw 40vh;
border:0;
text-align: center;
font-size: 24px;
}
span#servePart1C {
  color: aqua;
	width: 30vw;
	background-color: rgba(0, 0, 0, .8);
	position: relative;
	top: 40vh;
	transition: top .5s;
}